@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work-Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* media  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 20px;
}

.header ul li a {
  margin: 10px 20px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header ul li a:hover {
  color: brown;
}

.profile {
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile h1 {
  color: tomato;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
  margin-top: 40px;
}

.profile h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 135px;
  height: 2px;
  background-color: #777;
}

.profile p {
  color: #777;
  line-height: 1.7;
}

.experience {
  background-color: #333;
}

.experience .it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experience .container br {
  color: #0044ff;
  position: relative;
  width: 500px;
  height: 2px;
}

.experience h1 {
  color: tomato;
  text-transform: uppercase;
  position: relative;
  padding-top: 45px;
}

.experience h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 208px;
  height: 2px;
  background-color: #777;
}

.experience p {
  color: #777;
  line-height: 1.7;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills h1 {
  color: tomato;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
}

.skills h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 109px;
  height: 2px;
  background-color: #777;
}

.skills .contexts span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  letter-spacing: 3px;
  padding-left: 30px;
}

.skills .contexts span::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #981111;
}

.education {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #333;
}

.education h1 {
  color: tomato;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
}

.education h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 189px;
  height: 2px;
  background-color: #777;
}

.education .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education .history .hist {
  margin-right: 225px;
  margin-top: 25px;
}

.education .history p {
  color: #777;
  line-height: 1.5;
  text-transform: capitalize;
}

.education .history p span {
  color: black;
}

.technical-knowledge {
  padding-top: 50px;
  padding-bottom: 50px;
}

.technical-knowledge h1 {
  color: tomato;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
}

.technical-knowledge h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 400px;
  height: 2px;
  background-color: #777;
}

.technical-knowledge .contexts span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  letter-spacing: 3px;
  padding-left: 30px;
}

.technical-knowledge .contexts span::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #981111;
}

.language {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #333;
}

.language h1 {
  color: tomato;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
}

.language h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 189px;
  height: 2px;
  background-color: #777;
}

.language .more span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2;
  text-transform: capitalize;
  margin-left: 30px;
  position: relative;
}

.language .more span::before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: -15px;
  background-color: #d0de09;
}

.intersted-in {
  padding-top: 20px;
  padding-bottom: 50px;
}

.intersted-in h1 {
  color: tomato;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
}

.intersted-in h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 220px;
  height: 2px;
  background-color: #777;
}

.intersted-in .icons, .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intersted-in .container i {
  color: white;
  margin-right: 50px;
  background-color: red;
  padding: 15px;
  border-radius: 50%;
  font-size: 35px;
}

.intersted-in .container .context span {
  margin-right: 15px;
  padding: 15px;
  font-size: 25px;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333;
}

.contact-me img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.contact-me address {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-me address span {
  color: #1fb2b2;
  text-transform: capitalize;
}

.contact-me address p {
  line-height: 1.5;
  color: white;
}

.contact-me .icons {
  padding-bottom: 50px;
}

.contact-me .icons i {
  color: white;
  background-color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 7px;
  border-radius: 50%;
  font-size: 30px;
  padding: 7px;
}

.contact-me h1 {
  color: red;
  padding: 20px;
  text-transform: capitalize;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.footer p {
  color: white;
  padding: 20px;
  text-transform: capitalize;
  line-height: 1.5;
}

.footer a {
  color: aqua;
}

.header {
  background-image: url(./sass/base/images/غروب.jpg);
  background-size: cover;
  height: 100vh;
}

.header .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 150px;
}

.header .context .image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.header .text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .text h1 {
  text-transform: uppercase;
  color: tomato;
  margin-left: 60px;
}

.header .text p {
  color: white;
}

.header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .icons i {
  color: white;
  margin-right: 50px;
  background-color: red;
  padding: 15px;
  border-radius: 50%;
  font-size: 35px;
}
/*# sourceMappingURL=main.css.map */