.experience {
   background-color: #333;
}
.experience .it {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    border-bottom: 1px solid red;
    
}


.experience h1 {
    color: tomato;
    text-transform: uppercase;
    position: relative;
    // margin-bottom: 25px;
    // margin-top: 45px;
    padding-top: 45px;
}


.experience h1::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 208px;
    height: 2px;
    background-color: #777;
}
.experience p {
    color: #777;
    line-height: 1.7;
}

// .experience .it .support {
//     margin-right: 200px;
// }