
.profile {
    padding-top: 50px;
    padding-bottom: 50px;
}
.profile h1 {
    color: tomato;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
    margin-top: 40px;
   
}

.profile h1::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 135px;
    height: 2px;
    background-color: #777;
}
.profile p {
    color: #777;
    line-height: 1.7;
}
